.features {
  display: flex;
  align-items: center;
  padding: 2rem 0;
  width: 100%;
}

.featureSvg {
  height: 150px;
  width: 150px;
  fill: #fff;
}

[data-theme='light'] .featureSvg {
  fill: #000;
}

[data-theme='dark'] .featureSvg {
  fill: #fff;
}
